In [4]:
name1 = " saravana"

name1. lstrip()

'saravana'

In [ ]:
# right space

In [9]:
name2 = "saravana "

name2. rstrip()

'saravana'

In [ ]:
# space on the both end

In [11]:
x = " saravana "

x.strip()

'saravana'

In [ ]:
# list type

In [12]:
students = ['chitra','shan','ramesh','dinesh','suresh','daniel','deepan','saravana']

print (students)

['chitra', 'shan', 'ramesh', 'dinesh', 'suresh', 'daniel', 'deepan', 'saravana']

In [ ]:
# Indexing

In [15]:
students = ['chitra','shan','ramesh','dinesh','suresh','daniel','deepan','saravana']

print (students [1])

shan

In [ ]:
# index along with title

In [16]:
students = ['chitra','shan','ramesh','dinesh','suresh','daniel','deepan','saravana']

print (students[1].title ())

Shan

In [ ]:
# add new element

In [18]:
students = ['chitra','shan','ramesh','dinesh','suresh','daniel','deepan','saravana']

students.append ('barani')

print (students)

['chitra', 'shan', 'ramesh', 'dinesh', 'suresh', 'daniel', 'deepan', 'saravana', 'barani']

In [ ]:
# add new name in 2 nd index position

In [19]:
students = ['chitra','shan','ramesh','dinesh','suresh','daniel','deepan','saravana']

students.insert (2,'barani')

print (students)

['chitra', 'shan', 'barani', 'ramesh', 'dinesh', 'suresh', 'daniel', 'deepan', 'saravana']

In [ ]:
#delete

In [22]:
students = ['chitra','shan','ramesh','dinesh','suresh','daniel','deepan','saravana']

del students [2]

print (students)

['chitra', 'shan', 'dinesh', 'suresh', 'daniel', 'deepan', 'saravana']